VITE_SUPABASE_URL="https://ysivkhwtwsrupkbkrlvv.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzaXZraHd0d3NydXBrYmtybHZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjk0ODEsImV4cCI6MjA5ODkwNTQ4MX0.nlPFkCRaZNVoaQ1PG5VRCIMyDWD7KMo6skWjHn96N_Y"
